@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --color-primary-600: #1190bb;
    --color-primary-800: #09485d;
    --color-secondary-500: #06f9b8;
    --color-secondary-600: #06d6a0;
    --color-secondary-700: #04956e;
    --color-tertiary-0: #ffffff;
    --color-tertiary-400: #999999;
    --color-tertiary-1000: #000000;

    --space-2xs: 0.5rem;
    --space-xs: 1rem;
    --space-sm: 2rem;
    --space-md: 4rem;
    --space-lg: 10rem;
    --space-xl: 16rem;
    --space-2xl: 60rem;

    /* ===== TYPOGRAPHIE ===== */
    --font-size-3xs: 0.75rem;
    --font-size-2xs: 0.875rem;
    --font-size-xs: 1rem;
    --font-size-sm: 1.25rem;
    --font-size-base: 1.5rem;
    --font-size-md: 2.5rem;
    --font-size-lg: 4rem;

    --font-weight-light: 400;
    --font-weight-semibold: 500;
    --font-weight-bold: 700;
    --font-weight-extrabold: 900;

    /* ===== BORDURES ===== */
    --radius-xs: 0.25rem;
    --radius-sm: 0.375rem;
    --radius-md: 0.5rem;
    --radius-lg: 3.125rem;
    --radius-full: 9999rem;


    /* ===== LARGEUR ===== */
    --width-xs: 1rem;
    --width-sm: 4rem;
    --width-md: 6.25rem;
    --width-lg: 20rem;
    --width-xl: 32rem;
    --width-2xl: 64rem;

    /* ===== HAUTEUR ===== */

    --height-xs: 0.5rem;
    --height-sm: 1rem;
    --height-md: 3rem;
    --height-lg: 6rem;
    --height-xl: 15rem;
    --height-2xl: 20rem;
    --height-3xl: 48rem;

    /* ===== OMBRES ===== */
    --shadow-sm: 0 0 5.7px #06d6a0, 0 0 33.9px #06d6a0;
    --shadow-lg: 0 0 6.2px rgba(255, 255, 255, 0.73);
}



body {
    margin: -4px;
    overflow-x: hidden;
}

.header {
    display: flex;
    height: 5rem;
    gap: 22rem;
    padding: var(--space-xs) var(--space-md);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background: var(----color-bg-dark, #073b4c);
}

.header__brand {
    display: flex;
    padding: var(--space-2xs) var(--space-2xs) 0 var(--space-2xs);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.0625rem;
    line-height: 1rem;
}

.header__logo {
    color: var(----color-secondary, #06d6a0);
    text-shadow: 0 0 6.2px rgba(255, 255, 255, 0.73);
    font-family: Monoton;
    font-size: 2rem;
    font-style: normal;
    font-weight: var(--font-weight-light);
    gap: 0.0625rem;

    margin-bottom: 4px;
}

.header__site-title {
    color: var(----color-secondary, #06d6a0);
    font-family: Roboto;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: var(--space-sm);
    letter-spacing: 0.03375rem;
    margin-top: 0;
}

.header__nav {
    border: var(--width-sm);
    display: flex;
    padding: var(--space-2xs);
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
    width: var(--space-2xl);
    flex-grow: 1;
    text-align: center;
    margin: auto;
}

.button__cta {
    display: flex;
    padding: var(--space-2xs);
    justify-content: center;
    align-items: center;
    margin-left: auto;
    height: 3rem;
    width: 11vw;
    max-width: 170px;
    border-radius: var(--radius-xs);
    background: var(----color-accent, #ffd166);
    color: var(----color-text, #1a2e1a);
    font-family: Roboto;
    font-size: var(--font-size-2xs);
    font-style: normal;
    font-weight: var(--font-weight-light);
    line-height: var(--font-size-sm);
}

.nav__elements {
    color: #fff;
    font-family: Roboto;
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: var(--font-weight-light);
    line-height: var(--font-size-sm);
    text-decoration: none;
}

.hero {
    background-image: url(./assets/lumiere-urbaine.png);
    display: flex;
    height: var(--height-3xl);
    padding: var(--space-md);
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-sm);
    flex: 1 0 0;
}

.hero__title {
    color: #fff;
    text-shadow:
        0 0 5.7px #06d6a0,
        0 0 33.9px #06d6a0;
    font-family: Monoton;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-light);
    margin-bottom: 0;
}

.hero__subtitle {
    color: #fff;
    font-family: Roboto;
    font-size: var(--font-size-md);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: var(--space-xs);
    margin-top: auto;
    margin-bottom: auto;
}

.hero__button {
    margin-top: var(--space-xs);
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--space-xs);
    width: 25.5vw;
}

.button__secondary {
    display: flex;
    width: var(--width-lg);
    padding: clamp(var(--space-2xs), var(--space-xs), var(--space-sm));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-md);
    border: 0.05rem solid #fff;
    background-color: rgba(0, 0, 0, 0.62);
    color: #fff;
    font-family: Roboto;
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: var(--font-weight-semibold);
    line-height: var(--space-xs);
    height: var(--height-md);
}

.button__primary {
    background-color: var(--color-primary-600);
    border: none;
    height: var(--height-md);
    display: flex;
    width: var(--width-lg);
    padding: clamp(var(--space-2xs), var(--space-xs), var(--space-sm));
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-md);
    background-color: var(--color-primary-600);
    color: #fff;
    font-family: Roboto;
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: var(--font-weight-semibold);
    line-height: var(--space-xs);
    height: var(--height-md);
}

.section { /* Conteneur pour toutes les sections qui suivent sur la page sauf les deux dernières. Variantes side dans le cas d'une orientation d'une section en row et bleu pour les 
    sections qui ont un arrière-plan bleu.*/
    display: flex;
    padding: var(--space-md);
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    gap: var(--space-md);
    align-self: stretch;
}

.section__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-sm);
    align-self: stretch;
}

.section__title {
    color: var(--color-primary-800);
    text-align: center;
    font-family: Monoton;
    font-size: var(--font-size-md);
    font-style: normal;
    font-weight: var(--font-weight-400);
    line-height: var(--space-md);
}


.section__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
    align-self: stretch;
}

.section__row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--space-sm);
}

.section__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    flex: 1 0 0;
    border-radius: var(--radius-md);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.section__card__placeholder {
    display: flex;
    height: var(--height-2xl);
    align-items: flex-start;
    align-self: stretch;
    border-radius: 12px;
}

.section__placeholder--square {
    display: flex;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    align-items: flex-start;
}

.section__card__footer {
    display: flex;
    padding-top: var(--space-sm);
    padding-left: var(--space-xs);
    flex-direction: column;
    margin: 0.25rem;
    align-items: flex-start;
    gap: 0.25rem;
    flex-wrap: wrap;
    align-self: stretch;
}

.section__card__title {
    display: flex;
    color: var(--color-primary-800);
    font-family: Roboto;
    font-size: var(--font-size-base);
    font-style: normal;
    font-weight: var(--font-weight-light);
    line-height: var(--space-sm);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: auto;
}

.section__title--black {
    color: var(--color-tertiary-1000);
}

.section__card__subtitle {
    display: flex;
    color: var(--color-primary-600);
    font-family: Roboto;
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: var(--font-weight-light);
    line-height: var(--space-sm);
    width: 100%;
    padding-left: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.section__subtitle--centered {
    text-align: center;
}

.section__card__tag {
    display: inline-flex;
    color: #000;
    font-family: Roboto;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    margin-top: auto;
    padding: var(--space-2xs);
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-2xs) var(--radius-lg) var(--radius-lg);
    position: absolute;
    background: var(----color-accent, #ffd166);
}

.section__card__img {
    display: flex;
    width: 28rem;
    height: 22rem;
    border-radius: var(--radius-md);
}

.section--blue {
    background-color: var(--color-primary-600);
}

.section--side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 26rem;
    align-self: stretch;
    padding: var(--space-md) 5rem var(--space-md) var(--space-lg);
}

.section__list--vertical {
    display: flex;
    padding: var(--space-xs) 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
    flex: 1 0 0;
}

.section__row--vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--space-sm);
    width: 100%;
}

.section__article {
    display: flex;
    flex-direction: row;
    padding: var(--space-xs) var(--space-lg) var(--space-xs) var(--space-xs);
    justify-content: flex-start;
    align-items: center;
    max-width: 685px;
    flex-wrap: nowrap;
    gap: var(--space-sm);
    margin: auto;
    border-radius: var(--radius-sm);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    box-sizing: border-box;
}

.section__header--side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--space-md);
}

.section__subtitle {
    color: #000;
    font-family: Roboto;
    font-size: var(--font-size-sm);
    font-style: normal;
    font-weight: var(--font-weight-light);
    line-height: var(--space-xs);
    align-self: stretch;
    align-items: flex-start;
    margin-bottom: auto;
    /* 150% */
}

.section__img--square {
    display: flex;
    padding: var(--space-xs);
    justify-content: center;
    align-items: center;
    max-width: 6.25rem;
    align-items: center;
    border-radius: var(--radius-xs);
    background: #d0dbeb;
}

.section__article__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__article__title {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-semibold);
    line-height: var(--space-sm);
    width: calc(90% - 4px);
    align-items: flex-start;

}

.section__article__subtitle {
    margin: 4px 0 0 0;
    padding: 0;
    color: var(--color-primary-800);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-light);
    width: calc(90% - 4px);
    white-space: nowrap;
    min-height: auto;
}

.section__card--featured {
    display: flex;
    align-self: stretch;
    border: 5px solid var(----color-accent, #ffd166);
    flex-grow: 1;
    width: 15rem;
    flex-basis: 200px;
}

.section__img--smaller {
    display: flex;
    width: 24rem;
    max-width: 40rem;
    height: 22rem;
}

.section__placeholder__smaller {
    align-items: flex-start;
    align-self: stretch;
}

.section__card--smallest {
    display: flex;
    border: 2px solid #1190bb;
    border-radius: 0.375rem;
    align-self: flex-start;
    height: 30rem;
    width: 23rem;
}

.section__img--smallest {
    width: 20rem;
    height: 22.5rem;
    margin-bottom: -5px;
}

.section__img--smallest2 {
    display: flex;
    width: 20rem;
    height: 22.5rem;
    margin-bottom: -32px;
}

.section__img--smallest3 {
    display: flex;
    width: 20rem;
    height: 22.5rem;
    margin-bottom: -26px;
}

.section__card__title--2 {
    padding-left: var(--space-xs);
}

.section__card__subtitle--2 {
    padding-left: var(--space-xs);
}

.section__item {
    display: flex;
    padding: 1.5rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex: 1 0 0;
}

.section__placeholder--round {
    display: flex;
    width: 6.25rem;
    height: var(--height-lg);
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    border-radius: var(--radius-lg);
    background: var(----color-bg-dark, #073B4C);
}

.section__paragraph {
    display: flex;
    width: 6.25rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-self: stretch;
    aspect-ratio: 1/1;
    text-align: center;
    font-size: var(--font-size-lg);
    line-height: 6rem;
    margin: auto;
}

.section__item__title {
    color: var(--color-tertiary-1000);
    text-align: center;
    font-family: Roboto;
    font-size: 1.5rem;
    width: 400px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
}

.section__item__subtitle--large {
    color: var(--color-tertiary-1000);
    text-align: center;
    font-family: Roboto;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.25rem;
    align-self: stretch;
}

.section__placeholder--gray {
    background: rgb(219, 215, 215);
}

.section__img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: var(--width-sm);
    margin: auto;
    height: 4rem;
    gap: 0.5rem;
    align-self: stretch;
}

.section__img--void-square {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section__subtitle--blue {
    color: var(--color-primary-800);
}

.section__list--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
    flex: 1 0 0;
}

.section__row--form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
    align-self: stretch;
}

.form__input {
    display: flex;
    width: 32.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
}

.form__button {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    width: calc(67% - 3px);
}

label {
    align-self: stretch;
    color: var(----color-text, #073B4C);
    font-family: Roboto;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    /* 142.857% */
}

input {
    display: flex;
    padding: 0.5rem 0.75rem;
    align-items: center;
    gap: 0.25rem;
    align-self: stretch;
    border-radius: 0.375rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}

.button__secondary--transparent {
    background-color: white;
    color: var(--color-primary-800);

}

.button__secondary--outline-cyan {
    border: 1px solid var(--color-primary-600);
}

.button__primary--darker {
    background-color: var(--color-primary-800)
}

.footer {
    display: flex;
    padding: 3.75rem 1.25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    font-family: Roboton;
    align-self: stretch;
    background-color: var(--color-primary-800);
}

.footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.75rem;
    color: white;
}

